@import "variables";

//Mixins
.bordered {
  border-top: solid 10px @yellow;
}

.text(@size; @color; @case) {
  font-family: 'Roboto', sans-serif;
  font-size: @size;
  color: @color;
  font-weight: 500;
  text-transform: @case;
}





//Styling
.topbar{
  background-color: @yellow;
  padding: 3% 0;
  .nav{
    .text(@smalltxt; @textblack; none;);
  }
    li{
      padding-right: 4%;
    }
    span{
      .text(@smalltxt; @red; uppercase;);
    }
}


.jumbotron{
  background-color: #383838;
}


footer{
  .bordered();
  background-color: @black;
  padding: 3% 0;
}
